[2014-07-01 12:20] snobear opened #3 "add dhcp option"
Currently, only static IPs are possible, so definitely need to add in the dhcp option, which should probably be default.

[2014-07-16 14:47] snobear opened #6 "VM power status"
Need to add an option to return VM status, specifically "powered on/off" status.

[code]

[2014-08-07 21:50] jctanner opened #9 "Define the desired unit test framework"
We used nose in ansible and that was simple enough to code for. Do you have any strong preferences for what to use in ezmomi and what folder would you like the tests to live in?

[2014-08-07 22:06] jctanner opened #10 "clone template X times"
If my PR to #3 is accepted, I'd like to further extend the clone subcommand to include a --count parameter. The purpose would be to allow the end user to clone a template multiple times in the same command.

Example:
[code]

[2014-08-13 01:28] snobear opened #11 "Set up Readthedocs documentation"
Set up some documentation basic install, usage, etc... at https://readthedocs.org.  Not much to document currently, but the idea is to get on board with best practices in the code comments and what not.

I'm sure this is an easy task for someone who's set this up before.  I see readthedocs has hooks to generate docs on the fly with each commit.

[2014-08-19 14:22] sitle opened #12 "Add resource pool option"
It would be great if we can choose where the template must be clone (in what ressource pool and what datastore or directory) via the command line.

[2014-08-19 14:27] sitle opened #13 "Network issue (kind of)"
I actually have the use case where i need to assign multiple ip addresses for one VM. The problem is that the default route is setup via the configuration file. If i need to use another network and have a specific route, i can't do it (i have two default route in my vm).

Is there a way where we can setup a specific option to choose the default route using the configuration file ?

[2014-08-19 14:31] sitle opened #14 "Mail by default ?"
By default, ezmomi sends email. Can you add an option in the configuration file where we can activate this function ? I don't thing everybody have a MTA installed locally.

[2014-08-19 15:25] snobear opened #15 "have get_configs respect required/optional args"
The `get_configs` function in ezmomi.py merges the config.yml settings with settings supplied on the command line (argparse).

Currently, ezmomi complains if any parameter has not been set on the command line or in the config file, even if its been marked as `required=False` in params.py.  We want it to ignore any optional arguments.

Here's the relevant bits:

[code]

[2014-08-19 20:22] sitle opened #16 "Add a confirmation before destroying a VM ?"
I think it will be usefull.

[2014-08-19 20:37] sitle opened #17 "Current directory in the searching path of config file by default."
Actually, the default path of the config file is ~/.config/ezmomi/config.yml and i know i can use the EZ_CONFIG env to specify another path. I need a way to specify a different env simply by going to different directory (like knife.rb while usine chef). That way, we can share and source control an env across a lot of people without configuring manually their computer.

For the moment. I share a va

[2014-08-21 01:22] sitle opened #24 "develop branch is broken"
I actually don't know why but the networks in the config file is not detected anymore.

[2014-08-21 12:58] #24 closed, assigned to nobody

[2014-08-21 13:05] #16 closed, assigned to nobody

[2014-08-25 13:22] #14 closed, assigned to nobody

[2014-08-28 10:45] alans09 opened #25 "Changing IP on existing adapter"
I have virtual machine that I need to clone and change network settings.
So I defined it's name and networks. It looks that this is working but.

After clone It just create new adapter with settings. This adapter is even not connected to network (network label). Network connections are empty.

Issue a)
    It is possible to connect adapter to some known network/virtual switch

Issue b)
    Is ther

[2015-01-06 15:27] snobear commented on #25
Fixed in #27.

[2015-01-06 15:27] #25 closed

[2015-01-08 13:47] rostchri opened #28 "Possible problem using distributed switches"
ezmomi list --type Network returns the following Object in my setup:
dvportport-98  VLAN_1909

I want to use that, so i defined:
networks:
  '192.168.0.0/24'
      ...
      network: 'VLAN_1909'

After cloning a vm using ezmomi given a ip in network 192.168.0.0, the virtual-machine's
network-interface is disconnected and ezmomi list --type Network returns now
network-6626 VLAN_1909
dvportport-98

[2015-01-08 19:32] snobear commented on #28
@rostchri Interesting. Speaking in vSphere API terms, it looks like there is a different "managed object type" for [DistributedVirtualPortgroup](http://pubs.vmware.com/vsphere-50/index.jsp#com.vmware.wssdk.apiref.doc_50/vim.dvs.DistributedVirtualPortgroup.html).
[code]
It's an extension/subclass of `network`, so that explains why it shows up in the list for `ezmomi list --type Network`. Offhand, I

[2015-01-08 19:52] rostchri commented on #28
Yes that makes sense.

[2015-01-19 17:54] bsherman opened #32 "VirtualMachine power operations"
Implement basic VirtualMachine power operations:
- powerOn
- powerOff
- shutdown (use guest tools)

if shutdown is requested, but guest tools are not available, fall back to powerOff.

should wait for clean shutdown to complete for some amount of time ( 10 minutes ), then fall back to powerOff.

usage looks like:
- ezmomi powerOn --name myVM
- ezmomi powerOff --name myVM
- ezmomi shutdown --name m

[2015-01-19 17:55] bsherman commented on #32
I have an implementation for this, but it depends on currently pending, small PRs. So I'll wait on the PR till those are merged into develop.

[2015-01-20 01:43] bsherman opened #33 "cloning "Uncustomizable Guest" gives a nasty exception and leaves NICs disconnected"
Sometimes we need to clone templates that don't support guest customization. This results in:
[code]
This alone is ugly, but even worse is the newly created NIC devices are left disconnected and the VM is left powered off.

A common workaround for unsupported guests is to use vmrun capabilities to run a customization script on the machine, but that fails to work when NICs are not connected. Of cou

[2015-02-04 13:33] #6 closed

[2015-02-04 13:35] snobear commented on #32
implemented in #34

[2015-02-04 13:35] #32 closed

[2015-03-23 05:14] bsherman opened #38 "Bad merge resolution resulted in "powerOn" behavior which actually destroys VMs"
Sad panda :(

Looks like there was a merge conflict on ezmomi.py here: 5491a54a59efe0636ab3defa81673df83c513b46
The proper conflict resolution would have been to remove the whole chunk... Oops.

Instead b2a58c316ff4250d3da135370370f1024fbf48aa left dangerous code in place.

I'll be fixing immediately.

[2015-03-23 05:29] bsherman commented on #38
@snobear the fix for this is committed to both develop and master, including a version bump to 0.3.1 ... just needs a release here and for pypi to be updated. I'm not sure what that process looks like even if I did/do have access. Pretty brutal bug though, hence my certainty that we want a release.

[2015-03-23 13:47] snobear commented on #38
Yikes! I'll pull this down and get it into pypi asap.

[2015-03-23 14:10] snobear commented on #38
0.3.1 is up in pypi: https://pypi.python.org/pypi/ezmomi

Anyone with 0.3.0 should update:

[code]

Thanks @bsherman!

[2015-03-23 14:10] #38 closed

[2015-03-25 02:41] bsherman commented on #38
Thank you for jumping on it ASAP!

[2015-03-25 03:01] bsherman commented on #33
@snobear, I'd like some input on this since I don't want to take things a direction you don't agree with.

I've implemented locally, a simple exception handler for when customization fails. It then reconfigures the VM to ensure the NICs are enabled and powers on the VM.

The more I think about it, I don't think this should be default behavior. Reason, if you aren't PLANNING to have customization f

[2015-03-25 03:24] snobear commented on #33
My instinct would be to go with two new optional params, one for a fallback script and another for an optional script to run for guests that are customizable. I like your more specific naming thoughts on that though.  Hmm let me sleep on it. Awesome comments and suggestions all around. Thanks for prodding me on it, we'll get it movin!

[2015-03-26 12:49] snobear commented on #33
As a side note, let's name parameters with dash-delimited words as opposed to camelCase.  The camel case works well on the subcommands like powerOn, so that's all good.  Dash-delimited seems standard on many tools I use.  The java world probably does the opposite though :).

Alright, so the proposal is that if the "uncustomizable guest" exception is caught, ezmomi would fire off a script as specif

[2015-03-26 13:07] snobear commented on #33
If you don't supply `--run-script` and the UG exception is caught ezmomi could either:

1. fail hard and exit, printing a message about needing to supply `--run-script` to be able to clone
2. continue cloning orocess and just print a warning about the OS being unsupported and thus networking can't be configured and to use `--run-script`.
3. prompt the user if they want to continue cloning even tho

[2015-03-28 07:18] v1gnesh opened #40 "Not really an issue: Request"
Hi,

Any slightest chance that this will be updated to work with RHN Satellite API for doing Linux builds.
For estates that manage Windows and Linux's differently...

[2015-03-28 23:45] bsherman commented on #33
Lots of good ideas here. I'm inclined to have a single `--run-script` for simplicity's sake, plus use your suggestion 2 for when `--run-script` is not provided.

I think this gives the user clean messaging about about the unsupported guest with suggested next steps, but it does not change expected behavior.

Let me summarize the workflow I'll plan to implement if we agree:

1. Standard clone behav

[2015-03-30 00:34] snobear commented on #33
Yes, I agree on that summary, way to distill it all down into a nice list. I feel good about that workflow as well.

I like the idea of a section in the yaml file with an array of scripts, their params, and settings. It sounds like how the travis.yml file works for Travis, so I like the familiarity of that approach. Let me think about what we will actually be able to pass to `--run-script`.  I'm t

[2015-03-31 14:47] snobear commented on #33
Here's a first pass at the yaml config for the run script. The ezmomi call would look like `--run-script /opt/vmware-scripts/debian_customizer.sh`.

[code]

`source` is only needed if the script doesn't reside on the VM template already and needs to be copied.  It must reside on the `ezmomi` host. I'm not familiar with copying files to a guest. I see there are a few options...whats a good method?

[2015-03-31 23:58] snobear commented on #40
Hi @v1gnesh, I don't know much about RHN Satellite. Does it use vSphere for managing VMs?  If so, could you change the server/port settings to point to it in the RHN cloud? Or does it have a separate interface and API in front of vSphere?  Or not vSphere at all?

[2015-04-01 06:10] bsherman commented on #33
YAML looks pretty good to me. The one missing thing is guest credentials. For vmrun type functionality to execute/copy things on the guest, credentials need to be provided that are valid on the guest VM itself.

Also, I agree positional arguments is the right thing. It's not awesome, but the simplest path would be force the user to know whether they are handling multiple IPs or not. We'll always p

[2015-04-01 15:49] snobear commented on #33
That looks good.  I think we're pretty close, so go ahead and start implementing and we'll get our hands on it to see how it plays out.

For `optional_args`, we can probably drop the explicit index number and make it a yaml array with the dashes. Maybe it renders as an array without those dashes though, I'm not sure.  I figure those optional args will always be passed to the script FIRST, then the

[2015-04-02 12:32] angystardust opened #41 "Restrict list option to a specific cluster"
Hi! Is it possibile to implement an additional option to limit the result of the **list** command to a specific cluster managed by the vcenter?

For example:
*ezmomi list --cluster Production --type HostSystem*

[2015-04-04 16:43] v1gnesh commented on #40
Hola,

It does, in my shop at least. VM "containers" are created with NIC's and that's then used by the *nix teams to kickstart their RHEL from Satellite.
It has a separate interface and API in general, not specifically for vSphere.

That said, Satellite 6 brought in the ability to provision on ESXi's. So I suppose *nix's can stay separate from any vSphere automation.

Also, this may already be in

[2015-04-06 13:02] snobear commented on #41
Hi @angystardust - Not sure off the top of my head, but we can look into it. Seems like a simple enough feature request.

[2015-07-14 09:17] zsmlinux opened #42 "How about to list all vm from vCenter,not only one Esxi"
how can I list all vm from all Esxi

[2015-07-14 09:53] zsmlinux commented on #42
not from vcenter

[2015-07-31 14:02] snobear commented on #42
Hi @zsmlinux, ezmomi interfaces with vSphere, so it is not aware of anything outside of vcenter/vsphere.  Sorry I couldn't help here.

[2015-07-31 14:02] #42 closed

[2015-08-14 02:56] daniloharuo commented on #28
+1

Same issue here!

[2015-08-14 08:38] rostchri commented on #28
Following modifications to ezmomi.py in ezmomi-0.3.1
are usable with distributed switches. I'm sure the author can write a
clean fix (usable for environments with and without distributed switches) based
on this modifications.

227             # 4000 seems to be the value to use for a vmxnet3 device
228             nic.device.key = 4000
229             nic.device.deviceInfo = vim.Description()
230

[2015-08-18 00:24] aes512 opened #46 "Disable Self Signed Certificate Verification?"
Any thoughts? Trying to get this tool to work with vCenter 5.5..

[code]

[2015-08-18 19:09] aes512 commented on #46
Should have mentioned that this was on an OSX (10.10.4) client, this problem doesn't seem to exist on Linux.

I see that work is being done in https://github.com/vmware/pyvmomi so I'll close this

[2015-08-19 14:38] snobear commented on #28
Thanks Christian, that code will be helpful. Will try to incorporate it
soon.

On Fri, Aug 14, 2015 at 4:38 AM, Christian Rost <notifications@github.com>
wrote:

[2015-09-02 12:34] peerster opened #48 "Support datastore clusters"
Right now ezmomi expects an ordinary datastore as target.
I would like the option to use datastore cluster instead.

[2015-09-02 12:34] peerster commented on #48
This blog post here might help:
https://www.rbcollins.net/index.php/working-with-vmware-s-api?blog=5

[2015-09-02 20:13] rbriancollins commented on #48
Updated location for the above post.  Also, I added some info about an easier way to get different objects.
https://rbcollins.net/index.php/2014/10/28/working-with-vmwares-api-via-python/

[2015-09-02 20:49] nitrohuffer2001 opened #49 "Request - Clone multiple Servers at once"
This is a slick script. any chance you could add functionality that would allow you to clone more than 1 VM at a time? e.g. So if you needed 10 vm's test-vm1 through test-vm10 starting with IP: 10.0.0.10 and ending at 10.0.0.20

command would look something like:

ezmomi clone --template my_template --hostname test-vm -num10 --cpus 2 --mem 4 --ip's 10.0.0.10, 10.0.0.19

Thanks.

[2015-09-02 21:10] czee commented on #49
This could be supported, we could support better arguments however:
ezmomi clone --template my_template --hostname "test-vm-%d" --cpus 2 --mem 4 --ip's 10.0.0.[10-19]

In this instance a range of IP's are parsed and %d is substituted for each host (10, 11, 12, etc).

However that will probably have to wait until the clone functionality is refactored.

[2015-09-03 02:37] snobear commented on #49
I like the approach.  There is an issue or PR that may still be open with a similar proposal.

On Sep 2, 2015, at 5:10 PM, cxz <notifications@github.com> wrote:

This could be supported, we could support better arguments however:
ezmomi clone --template my_template --hostname "test-vm-%d" --cpus 2 --mem 4 --ip's 10.0.0.[10-19]

In this instance a range of IP's are parsed and %d is substituted for

[2015-09-03 02:43] snobear commented on #48
Thanks for the feature request. I'm not too familiar with datastore clusters, but totes mcgotes open to a PR ;)

On Sep 2, 2015, at 4:13 PM, rbriancollins <notifications@github.com> wrote:

Updated location for the above post. Also, I added some info about an easier way to get different objects.
https://rbcollins.net/index.php/2014/10/28/working-with-vmwares-api-via-python/

—
Reply to this email

[2015-09-03 05:30] peerster commented on #48
I'm trying to implement this. The problem is that I took over the fork from a previous employee, and they have changed a lot. I don't think a PR will be possible with that implementation without introducing other stuff.

Anyways, first step is to add it anyway, so will try to do that and worry about the PR later :)

[2015-09-03 05:34] peerster commented on #48
@rbriancollins
[code]
:(

[2015-09-03 21:00] rbriancollins commented on #48
Sorry about that.  I was playing around with link structure in WP (just converted from b2evo) and I broke all the links.  Yay.  Better now
https://rbcollins.net/?p=13

[2015-09-08 21:53] daniloharuo commented on #28
Thanks Christian! @rostchri

[2015-09-16 07:11] derchrisuk commented on #12
Yes, that would be helpful.
At the moment the newly created/cloned VM is being created at the root of the VM inventory.
 would like to see an option where I can select a Folder where this VM has to go to.

[2015-09-16 14:22] snobear commented on #12
@derchrisuk @sitle I am going to be implementing this real soon.  We just did some housekeeping and put everything into nice neat folders so I also need this functionality.

[2015-09-17 10:38] derchrisuk commented on #12
Thanks,

I already tried to implement it myself, but not sure how to convert the str given as an option on the CLI to a vim.Folder object.
Or get some other error that the object has already been deleted.

[2015-09-17 13:51] derchrisuk commented on #12
Ok, after some trial and error I got the directory option running.
It is not pretty, so not sure if I should make a PR out of it.

[2015-09-18 13:26] derchrisuk commented on #3
I don't want to create a new issue for this, so I add my comments here.
I'm also looking for a DHCP option.
When I played around with the pyVmomi clone samples, I could get a new cloned VM with DHCP, as my source Template has been configured with DHCP.
Would like to have this option here as well.
At the moment I have to come up with some side part solution for the Fixed IP assignment.
But we have

[2015-09-18 15:21] derchrisuk commented on #3
With the code from @jctanner I was able to get DHCP working.
But at the moment only with one device.
I will try to follow your advise, and make it like ips with several arguments.

[2015-09-22 19:28] snobear commented on #12
Almost there, but for some reason `WaitForTasks` is hanging and never completing regardless of outcome.  We've recently upgraded vcenter to 6.0 so perhaps there is an API change.  Need to investigate.

[2015-09-22 19:30] snobear commented on #12
@derchrisuk @sitle can you checkout the `resourcepool` branch and test it against your environment?  I'm wondering if it is a vcenter 5 vs 6 thing.  Assuming someone has a 5.x to test against.

[2015-09-23 12:16] snobear commented on #12
Nevermind, I fixed `WaitForTasks`, using pvmomi community samples as a guide.

I changed this issue to only refer to resource pools.  If someone wants an option to specify folder and/or datastore, go ahead and open a separate issue.

[2015-09-23 12:23] #12 closed

[2015-09-23 14:03] snobear commented on #12
ezmomi has been updated in pypi to 0.4.1.  You can upgrade with:

[code]

[2015-10-01 14:56] mcasin opened #51 "Non Resource-Pool Cluster problem"
Hi,

First of all thanks for the nice tool, it's amazing!

I have a clustered environment and there are no ResourcePools in that cluster, in fact I cannot create a ResourcePool there. (It's supposed to be a hidden root ResourcePool but it doesn't work)

When I try to clone a template I get the erro:

Error: Unable to find Resource Pool 'Resources'

If I try to list all the ResourcePools I get:

MO

[2015-10-02 13:35] snobear commented on #51
Hi @mcasin, looks like a bug with the default Resources pool. I'm able to reproduce it.  Thanks for reporting! - will fix asap.

You can downgrade to 0.3.1 as a workaround for now:

[code]

[2015-10-14 17:05] ryanrussell commented on #3
Hi, I'm having the same need. Do you have plans to merge the dhcp functionality into your main repo?

I'd much rather use your repo than forking and having to rebase.

Thanks for any insight into your plan.

[2015-10-20 09:21] derchrisuk opened #52 "Deployed VM reboots once after deployment"
I created a few OS templates without NIC, as they would be removed during the deployment anyways.
This will also make sure that the new NIC in the OS becomes eth0.
Once the image is deployes, it boots up ok.
At some point during the boot, it reboots once, comes back online ok.
It does this for all the templates I have.
These are RHEL templates btw.
One modification I made is to use DHCP for the IP

[2015-10-21 23:41] pathcl opened #53 "Python 3 support"
Hello,

I've just installed ezmomi and noticed it sticks with 'pyvmomi==5.5.0'. Is there any specific reason? if I upgrade to (5.5.0.2014.1.1) I can work on pypy3-2.40 but if not..

 File "/home/pathcl/src/vsphere-python-restapi/methods.py", line 8, in <module>
    from pyVim import connect
  File "/home/pathcl/.pyenv/versions/pypy3-2.4.0/site-packages/pyVim/connect.py", line 331
    except Except

[2015-10-21 23:47] pathcl commented on #53
Isnt python3 support planned? :)

[2015-10-22 00:12] pathcl commented on #53
There's a weird inconsistency with print function.

[2015-10-22 15:28] derchrisuk commented on #52
I figured out that the customization is responsible for the reboot.
Looks like there is not much I can do about it.

[2015-11-01 11:22] derchrisuk opened #54 "Deploy fails with certain characters in hostname"
Not sure if this is a problem of ezmomi of pyvmomi.
When I try to deploy a template, and use a `.` or `_` in the hostname, the deploy fails with this:

    pyVmomi.VmomiSupport.InvalidArgument: (vmodl.fault.InvalidArgument) {
    dynamicType = <unset>,
    dynamicProperty = (vmodl.DynamicProperty) [],
    msg = 'A specified parameter was not correct. \nspec.identity.hostName',
    faultCause = <un

[2015-11-05 18:18] parcejohn opened #55 "Clone task creates the"

[2015-11-05 18:23] parcejohn commented on #55
Clone task creates the VM using a standard vSwitch even when the network passed is a dVS.

The 'dvpg-vlan-104' is a distributed virtual switch.
$ ezmomi list --type Network
Network list
MOID                Name
network-89          VM Network
dvportgroup-4044    dvpg-vlan-104

When I clone:
$ ezmomi clone --template mytemplate --hostname ga1ggitlabd1 --domain 'example.org' --cpus 2 --mem 4 --ips 10

[2015-11-06 15:08] plat00n commented on #51
Hello, I have the same issue.
For information we don't have Custom Ressource Pools, just the default one named "Ressources"

$ ezmomi list --type ResourcePool
ResourcePool list
MOID               Name
resgroup-22    Resources

I tried to mannualy create another ressource pool named " Resources " (to find a workaround)
Bug we got one other error message :

$ ezmomi list --type ResourcePool
Resource

[2015-11-12 19:30] snobear commented on #51
This has been fixed in ezmomi 0.4.2 which has just been published to pypi.

[code]

[2015-11-12 19:30] #51 closed

[2015-11-13 10:58] plat00n commented on #51
Hello,

Issue seems still to be here. It don't tell us that the ressource pool is not present but we still have :

[myuser@myserv ezmomi]$ ezmomi clone --hostname myclonedserv --cpus 2 --mem 4 --ips 192.168.1.2
Cloning T-centos6-OVH to new host myclonedserv with 4096MB RAM...
Traceback (most recent call last):
  File "/usr/local/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/usr/local/lib

[2015-11-17 14:55] bof35 opened #57 "ezmomi for vSphere 6"
Hi Snobear,
first of all, very good job for this tool .
I' have a problem only when i  clone template with vcenter6.0 ( clone with vcenter5.1 is OK)
This problem appear only with the "clone" args ( list , status ...is OK)

Message return when i clone my template:
...
Traceback (most recent call last):
  File "/usr/local/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/usr/local/lib/python2.

[2015-11-17 20:05] #52 closed

[2015-11-17 20:11] derchrisuk commented on #54
I fixed my issue buy using the following to remove certain special characters from the hostname:

`ident.hostName.name = self.config['hostname'].translate(None, '._!@#^%$&')`

[2015-11-17 20:14] derchrisuk opened #58 "Support for single ESXi"
I'm currently trying to connect to a single ESXi server.
Some of the commands I'm able to get to work, like `list`.
But looking at the `clone`, it requires `cluster` and `datacenter` info, which do no exist in a single ESXi
Is there a simple way to include this?

[2015-11-18 00:34] derchrisuk commented on #58
I got a little bit further.
The problem is, single ESXi does not support clone.
So it is not that easy to implement.
Maybe there are functions available in the pyvmomi which could be used for this.

[2015-11-19 14:07] derchrisuk commented on #58
The only way I could get it to work is by importing a OVF into the ESXi.
At the moment it is working, apart from the  customization.
When I try to run a `Customize()` with the same customspec on the deployed OVF, I get an error:
`The operation is not supported on the object.`
Looks like that this is also not supported like `Clone()`
So I'm looking at a script to do the changes.
The only problem I

[2015-11-20 16:43] plat00n commented on #57
Hello,
Same issue here :/
@snobear , have you got an answer for this issue ?
Thanks

[2015-11-20 18:03] snobear commented on #57
@plat00n @bof35 sorry been super swamped. I have not investigated this. Sounds like a pyvmomi issue.  Can you see if there is a newer version of pyvmomi that may have address that?

`pip install -U pyvmomi`

If not, maybe see if there are any issues on their github repo about this.  Thanks!

[2015-12-10 16:46] bof35 commented on #57
Hi Snobear,
I test with the latest pyvmomi 6.0.0 /  ezmomi 0.4.2 , but I have  similar errors +
...
 pyVmomi.SoapAdapter.ParserError: 'xml document: \x1f\x8b\x08\x00\x00\x....
.....\x91\xf2>\x00\x00 parse error at: line:1, col:0'

all ezmomi list --type xxxx command is OK

Is somebody have test clonig a template on vcenter6.0.0 with success ?

Thank's

[2015-12-10 20:29] snobear commented on #57
Hi, yes ezmomi needs to update pyvmomi to 6.0.0 to work with vsphere 6. I plan on working on that soon. Pyvmomi 6 will require Python 2.7+ FYI.

On Dec 10, 2015, at 11:46 AM, bof35 <notifications@github.com> wrote:

Hi Snobear,
I test with the latest pyvmomi 6.0.0 / ezmomi 0.4.2 , but I have similar errors +
...
pyVmomi.SoapAdapter.ParserError: 'xml document: \x1f\x8b\x08\x00\x00\x....
.....\x91\x

[2015-12-18 09:41] zsmlinux commented on #42
thx @snobear , and you have any idea or any tools to do it ?

[2015-12-18 14:35] snobear commented on #42
Hi @zsmlinux can you explain in more detail what you're trying to do? I may not have understood the initial question.

[2015-12-24 15:24] snobear commented on #57
@bof35 can you pull down the ezmomi-vsphere6 branch and try it out for me please?

Note that it uses pyvmomi 6 which requires python 2.7, so you'll need to create a virtualenv using 2.7.

[code]

Note you may get a warning about unverified SSL.  SSL cert verification was turned on by default in python 2.7.9.

Another side note in case someone runs into it.  I tried open-vm-tools from EPEL 6, which

[2015-12-24 15:26] snobear commented on #57
@plat00n if you could test out that branch as well that would be super helpful :)

[2015-12-30 10:16] bof35 commented on #57
Hi Snobear,
Thank's for your help.
I test with the latest pyvmomi 6.0.0 + ezmomi-vsphere6 branch but the result is the same .
i test with  python 2.7.8 , python2.7.11 and python 3.5 ...
All ezmomi command is OK , except clone template...

...
Cloning T-centos6 to new host p3seo04 with 2048MB RAM...
Traceback (most recent call last):
  File "/home/ansible/ezmomi/bin/ezmomi", line 4, in <module>

[2015-12-30 20:42] snobear commented on #57
Looks like its referencing https://github.com/snobear/ezmomi/blob/ezmomi-vsphere6/ezmomi/ezmomi.py#L251.  I'm guessing `template_vm.config.hardware.device` is undefined for you, and I should add a check for it before going into the loop.

Will update and let you know... Thanks for following up.

[2015-12-30 20:59] snobear commented on #57
@bof35 in the meantime, can you please give me some details about the VM template you use? I'm wondering what hardware devices you have attached/associated with the template.

[2015-12-30 21:00] snobear commented on #57
@bof35 also, can you add the `--debug` option to your clone command?  I added it into this vsphere6 branch.

[2015-12-31 09:09] bof35 commented on #57
@snobear  , here is my command with --debug arg :

Cloning T-centos6 to new host p3seo08 with 2048MB RAM...
DEBUG: Destination cluster
{'_moId': u'domain-c66',
 '_serverGuid': None,
 '_stub': <pyVmomi.SoapAdapter.SoapStubAdapter instance at 0x7f079652ac20>}
Traceback (most recent call last):
  File "/home/ansible/ezmomi/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/home/ansible/ezmomi/ez

[2016-01-04 19:02] snobear commented on #57
@bof35 can you git pull the latest?  I added additional debug output, and also a check to ensure that particular object is defined.  So at the very least it will give me more info to work with.

[2016-01-05 08:43] bof35 commented on #57
@snobear,
my command with your new additionnal debug ouput.

%ezmomi clone --hostname p3seo10 --ips 192.168.7.11 --debug
...InsecureRequestWarning)
Cloning T-centos6-vc6 to new host p3seo10 with 2048MB RAM...
DEBUG: Destination cluster
{'_moId': u'domain-c66',
 '_serverGuid': None,
 '_stub': <pyVmomi.SoapAdapter.SoapStubAdapter instance at 0x7f6f253aec68>}
Traceback (most recent call last):
  File

[2016-01-05 20:00] snobear commented on #57
@bof35 OK try again :)  I added a block to pass through what I think is the troublesome section of code. (Unfortunately I cannot reproduce what you all are seeing on your end so its difficult to troubleshoot the exact issue, but this should mitigate)

[2016-01-07 09:02] bof35 commented on #57
@snobear , Ok now I can clone clone my template :-) , but my VM doesn't start because of conflict when creating Network VLAN settings. ( create a standard network  no VLAN)
 Is Vlan's Port ID set automatically ? , Can we set the DistributedVirtualSwitch to the config file ?

[2016-01-07 11:56] snobear commented on #28
Reopening as it needs to be added to ezmomi codebase.

[2016-01-07 12:02] snobear commented on #57
OK great thanks for working with me on this.

DistributedVirtualSwitch config has been requested in #28. I don't currently have that setup in my lab, so will have to do so in order to implement and test.  Keep an eye on that issue for progress.

I'm going to merge this into master and release as ezmomi 6.x in order to follow the vsphere/pyvmomi versioning.

[2016-01-07 12:02] #57 closed

[2016-02-10 12:26] snobear opened #60 "Run a command after clone"
I'd like to be able to fire a command before or after a clone is performed. This will aid in extra provisioning steps, e.g. adding the new host to puppet cert autosign.conf.

[2016-02-23 22:39] ryanrussell opened #61 "multiple ips gateway conflict on ubuntu"
Hi,

Booting with one ip seems to work fine, but when I attempt to add a second IP I end up with an invalid /etc/network/interfaces file.

Background:
- I have a template that sometimes we just boot with a private IP, sometimes we boot with a private and public IP.
- I have two NIC's in the template, eth0 mapped to private, eth1 mapped to public.

I may missing something with multiple IPs on the r

[2016-02-24 18:56] snobear commented on #61
Hi @ryanrussell -

I'm not super familiar with the Debian /etc/network/interfaces style config.

Couple questions...What happens when the new VM boots after provisioning?  Any specific errors in the boot logs?  Do eth0 and/or eth1 appear down after boot?  Or are they appear up and its the routing thats screwy?

[2016-02-24 21:33] ryanrussell commented on #61
Thanks for responding.. Here's a summary that's better than I could say it:

https://www.thomas-krenn.com/en/wiki/Two_Default_Gateways_on_One_System
You have built two or more network cards into one Linux system and each of these cards has its own default gateway. By default, you can only have one default gateway on a system. The case described would lead to asynchronous routing, whereby the route

[2016-02-25 13:26] JStinebaugh commented on #42
I can't speak @zsmlinux but I'm wondering if this is about linked vCenter servers.  I'm currently trying to figure out how to leverage this in an environment with multiple vCenter servers that are all linked, as I don't always know the specific vCenter server that it runs on.  I know PowerCLI can do this and there is a Perl script that can get all of the linked servers (via vSphere Perl API).  If

[2016-02-25 19:01] snobear commented on #42
If its possible via the perl vSphere API, I would bet its possible via the python API (pyvmomi).  I'll try and investigate soon, but feel free to do a little digging too.  Hopefully its as simple as specifying a list of servers to connect to.

[2016-03-02 18:27] JStinebaugh commented on #42
Took some tinkering, but I cam up with something.  This will connect to the specified vCenter server and then return a list of linked vCenter servers.

`from pyVmomi.VmomiSupport import nsMap, versionIdMap, versionMap, IsChildVersion
from pyVmomi.VmomiSupport import GetServiceVersions, GetVersionNamespace
from pyVim import connect
import requests
from xml.etree.ElementTree import XML, fromstring,

[2016-03-23 21:49] maneamarius opened #62 "How to clone to a standalone host rather than a cluster?"
Hi,

It seems that currently it is required to have a cluster in the VCenter, otherwise I can't get the clone to work..
Is it possible to deploy to a standalone host in the VCenter? If yes, could you please send me an example "config.yml" which I can use?

thanks a lot,
Marius

[2016-04-27 15:51] m-attoni commented on #55
Hello, for me the same situation.

config.yml:
 network:    'dmz12'
 distributedvirtualportgroup: 'dvportgroup-12'

ezmomi list --type Network:
dvportgroup-11    dmz11
dvportgroup-12    dmz12

After I made deploy from template It create new network as you can see here:
ezmomi list --type Network:
network-101       dmz12
dvportgroup-11    dmz11
dvportgroup-12    dmz12

Have I properly set up config

[2016-04-27 16:07] snobear commented on #55
Hi - ezmomi currently does not support distributed virtual port group this was requested in #28. I apologize as I have not had the time to work on ezmomi as of late. I'm open to pull requests for this feature -- someone posted some starter code in #28 that could be used.

[2016-05-03 10:25] aseques opened #63 "Can I get a dump of a guest properties?"
I would like to get an overview of the guest properties before doing a clone, I've had a look at eh source but couldn't find it.
Is it possible with the current version?

[2016-05-03 11:56] snobear commented on #63
Hi @aseques - hmm you could try adding `--debug`, but that would still go through with the clone, and I'm not 100% sure we have debug output for the guest itself.

If not, a PR would be welcome. Not sure if it would fit in any of the existing subcommand sections, so would probably be best under say, `ezmomi inspect --template centos7`.

[2016-05-03 14:30] aseques commented on #63
Thanks for your reply, unfortunately at this point I can't work on this, I'll resort to getting the information manually meanwhile

[2016-05-03 14:30] #63 closed

[2016-05-16 14:56] maneamarius commented on #62
anyone can help, please?

[2016-05-16 15:16] snobear commented on #62
@maneamarius I'm not sure if a single host depolyment would work, I've never tried. You could try setting `cluster` in config.yml to the single ESXi host name. I can't guarantee that will work though.

Alternatively, perhaps you can create a cluster in vCenter that consists of the single host?

[2016-05-16 15:29] maneamarius commented on #62
I've tried everything I could think of.. I can't make it work with standalone host...
I ended up doing what you said in the meanwhile.. created a cluster and added this host to the cluster.
But we shouldn't do that, ezmomi should be able to work with standalone host.. :(

[2016-05-16 15:38] snobear commented on #62
@maneamarius thanks for the feedback about the limitation and your solution. Doubtful I will have time to implement single host provisioning, but I will leave this here as a feature request.

[2016-05-17 18:54] snobear commented on #60
`--post-clone-cmd` option added to ezmomi version 6.2.0.  You can also specify this in the config.yml as `post_clone_cmd` so it'll fire for every clone.

[2016-05-17 18:54] #60 closed

[2016-09-23 13:43] snobear commented on #28
@rostchri  @daniloharuo Can you all pull down PR #72 and give it a test to see if the distributed virtual port group works as expected?  Then I can merge it.

[2016-09-23 13:45] snobear commented on #40
No plans to implement this.

[2016-09-23 13:45] #40 closed

[2016-09-23 13:55] snobear commented on #10
Thanks for the suggestions @jctanner , but I'm going to close this for now. I like the idea but it adds complexity to this tool, e.g. static IP assignment, that could easily be achieved with a wrapper script.

[2016-09-23 13:55] #10 closed

[2016-09-23 13:58] snobear commented on #53
I have not tested on python 3 and don't have any immediate plans to support it.  That said, I do see that pyvmomi supports 3.3/3.4, so we'd only need some basic tweaks to make it 3.x happy.

Who wants to work on that :)?

[2016-09-23 18:31] github-12341234 opened #74 ""Install via github" instructions --> Error: "fatal: Could not read from remote repository.""
$ git clone git@github.com:imsweb/ezmomi.git
Cloning into 'ezmomi'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2016-09-23 18:35] snobear commented on #74
Try the https endpoint instead:

[code]

I'll actually change the README to this since its preferred.

You'll need an ssh public key added to your github profile in order to use the ssh endpoint per https://help.github.com/articles/which-remote-url-should-i-use/,

[2016-09-23 20:38] github-12341234 commented on #74
Works for me!  Thanks!

[2016-09-23 20:47] github-12341234 commented on #74
You may also want to change the README to include this:
virtualenv --no-site-packages -p python2.7 ezmomi

Without '-p python2.7' the virtualenv command fails on my Mac running OS X 10.11.6

[2016-09-25 21:23] snobear commented on #74
Good info, thanks,  I'll see if `-p python2.7` works on Linux and add that flag in, otherwise I'll just make a side note in the README about it.

[2016-09-26 15:12] snobear commented on #74
Works on Linux as well. :+1:  Added to the README install notes.

[2016-09-26 15:12] #74 closed

[2016-10-21 00:05] pathcl commented on #53
Well I'll fix it :)

[2016-10-21 12:21] snobear commented on #53
@pathcl thats great thanks!

[2016-10-24 09:17] jessehu commented on #42
@JStinebaugh I use your nice script to test against two linked vCenter Servers 6.0. However it returns only 1 vCenter. When pointing the script to PSC IP address, it reports error '<u>/sdk/webService</u></p><p><b>description</b> <u>The requested resource is not available'

[2016-10-26 02:50] jessehu commented on #42
Fortunately based on your script, I worked out a python script to list linked mode vCenter Servers 6.0 or other Service Endpoints from PSC https://gist.github.com/jessehu/2e28b2d8ab454e67712cd943a8500512

[2016-11-07 16:36] ciorceri opened #75 "Cloning a template while providing multiple ips in the same network, will create a VM with multiple interfaces having the same IP Address"
Clone a template:
./bin/ezmomi clone --template some_template --hostname new_vm --domain some_domaine --ips 192.168.0.10 192.168.0.11 192.168.0.12

The new created VM will have 3 network interfaces and all of them will use the same IP (the last one): 192.168.0.12.

The issue is in file ezmomi.py, around line 185

Where a configured network can have only one IP Address.

[2016-11-07 16:59] snobear commented on #75
@ciorceri thats strange, i use multiple IPs all of the time and it creates separate NICs with each of the listed ips.  Questions:

- what version of ezmomi?  `ezmomi --version` to check that
- what OS distro and version are you cloning?

[2016-11-08 06:27] ciorceri commented on #75
@snobear
I'm using version 6.3.0, and I'm deploying from template a RHEL7 distro.
Probably my description was not very clear so I will try again.

In my env I have only **ONE VLAN** and I wanted to add in the clone few interfaces using IP's from the same network.

Anyway, I've spot where is the issue and I will try to fix it in my branch and I will do a pull request here in the future.

[2016-11-08 14:55] snobear commented on #75
@ciorceri OK I see. Thanks for investigating a potential fix!

[2017-01-21 02:29] snobear commented on #75
I ran into this today, actually.  And your title and description was very clear actually, I just wasn't *getting* it originally :).  I was putting up two interfaces in the _same network_ today, and, as your issue title says, the two interfaces end up with the same ipaddress.  I guess I've rarely had to do that.

A PR would would very appreciated, BUT even if you have just have a tiny bit of time t

[2017-01-21 19:12] ciorceri commented on #75
Hi Jason
Nice to get in touch again.
I will try to look at that next week (I don't promise that, since I moved
to another project and I don't have any ESXi6 in current setup to test
things)

Sorin

On Jan 21, 2017 4:29 AM, "Jason Ashby" <notifications@github.com> wrote:

[2017-03-13 12:08] eytan-avisror opened #76 "Support for vApp Settings"
Hello,

Is it possible with current ezmomi library to clone from template and populate custom vApp properties?
We are using vApp settings to add an ip address / gateway / DNS, etc.

Do you currently support that?
If not, could you provide some pointers on how to add support for it to existing codebase?

Thanks

[2017-03-21 06:35] murarisumit commented on #46
@aes512, is this working now. I'm facing this issue.

[2017-04-07 11:26] andreagrax opened #77 "add a parameter to choose config file"
I jump between various vcenters , a switch which permit to specify the correct datacenter would be great!

[2017-04-07 13:36] snobear commented on #77
Hi @andreagrax - you can use the `EZMOMI_CONFIG` environment variable to specify a specify config to use.  You could prepend the ezmomi call with it to keep it a one-liner, e.g.:

[code]

[2017-05-06 17:12] murarisumit commented on #46
@snobear, I'm getting this error.

When trying pyvmomi, there was work around in samples to use it via setting
`
context.verify_mode = ssl.CERT_NONE`

Is there any specific reason of not doing, just asking here. If needed I can do that with flag like --no_ssl_verify.

[2017-05-08 20:32] snobear commented on #46
Hi @murarisumit, I want to avoid hardcoding that ssl context as it is a bad practice security-wise. But I like the idea of adding an optional `--no-ssl-verify` flag that allows the user to set it.  Could you make a PR to add that?

[2017-05-09 15:38] murarisumit commented on #46
sure, assign it to me 👍

[2017-05-12 11:51] murarisumit commented on #46
it's already sorted out in urllib3, it's works without flag too.

[2017-05-15 14:16] snobear commented on #46
@murarisumit correct, it still works but throws a warning. If you can fork, fix, and make a pull request for that param I'll take a look and merge it in.

[2017-05-17 11:18] murarisumit commented on #46
Hey @snobear, sent pull request for it: https://github.com/snobear/ezmomi/pull/79

[2017-06-30 10:07] #77 closed

[2017-07-05 07:00] murarisumit commented on #46
@snobear I think we can close this ticket now.

[2017-07-10 13:02] #46 closed

[2017-07-10 13:05] snobear commented on #11
The README is sufficient at this time.

[2017-07-10 13:05] #11 closed

[2017-07-10 13:06] snobear commented on #28
Distributed virtual port group support has been added. Its currently in the master branch...will release an updated py package soon.

[2017-07-10 13:06] #28 closed

[2017-08-25 18:45] ssh30 opened #83 "credentials doubt"
-

[2017-08-25 18:49] #83 closed

[2017-09-08 22:11] iahmad-khan commented on #3
Hi ,any update on this , i want to create vms from different templates with dhcp option  , any thoughts?

[2018-01-19 15:22] mchlumsky opened #84 "ezmomi status fails when certain column values are None"
ezmomi status --extra fails when certain column values are None

What happens:
$ ezmomi status --name server_name --extra
Traceback (most recent call last):
  File "/home/mchlumsky/Envs/ezmomi/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/home/mchlumsky/Envs/ezmomi/lib/python2.7/site-packages/ezmomi/cli.py", line 30, in cli
    ez.status()
  File "/home/mchlumsky/Envs/ezmomi/lib/python2.

[2018-01-19 16:09] mchlumsky commented on #84
Proposed fix:
https://github.com/snobear/ezmomi/pull/85

[2018-01-29 13:45] elfranne opened #86 "Properly encode Unicode"
Ezmomi crashes when using unicode in the name of a VM ( and maybe other places too ? )
Installed ezmomi version 6.4.0 via pip

ezmomi list --type VirtualMachine                                                                                                                                 14:31:57
/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/connectionpool.py:789: InsecureReques

[2018-03-30 21:54] mrtweb opened #87 "Windows Template clone"
error!

Traceback (most recent call last):
  File "/usr/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/usr/lib/python2.7/site-packages/ezmomi/cli.py", line 18, in cli
    ez.clone()
  File "/usr/lib/python2.7/site-packages/ezmomi/ezmomi.py", line 415, in clone
    result = self.WaitForTasks(tasks)
  File "/usr/lib/python2.7/site-packages/ezmomi/ezmomi.py", line 909, in WaitForTasks
    ra

[2018-03-31 14:46] Akasurde commented on #87
@mrtweb Are you cloning from Windows template ?

[2018-03-31 14:48] snobear commented on #87
Are you able to clone the template successfully from the vcenter GUI?

[2018-04-01 09:55] mrtweb commented on #87
I try it but not working. Did you succeed?

[2018-04-01 09:57] mrtweb commented on #87
@snobear Yes vcenter gui secced win template cloning

[2018-04-03 13:37] snobear commented on #87
@mrtweb can you add the `--debug` flag to your clone command and put the full output in a gist and link it here?

[2018-09-05 20:14] JoeDog opened #89 "Unable to assign an address"
pg_obj.key is variable that undefined.  So I suspect this has something to do with this:
pg_obj = self.get_obj([vim.dvs.DistributedVirtualPortgroup], dvpg)  # noqa

# python2.7 haha clone --template Linux48G --hostname testy --cpus 2 >
Cloning Linux48G to new host testy with 4096MB RAM...
Traceback (most recent call last):
  File "haha", line 3, in <module>
    cli.cli()
  File "/home/jdfulmer/src

[2018-09-10 11:48] JoeDog commented on #89
Don't worry about this. The problem was in vmware's software. It percent encoded a / in the name.

[2018-09-18 14:07] snobear commented on #89
Thanks for the find as well as the update @JoeDog.

[2018-09-18 14:07] #89 closed

[2018-11-07 07:38] opsconquer opened #92 "Unable to access virtual machine configuration: Unable to access file [datastore-132.31]"
Hi guys!
Unable to migrate Centos7.0 template from 172.16.132.18 to 172.16.132.35 and resource pool Resources: Unable to access virtual machine configuration: Unable to access file [datastore-132.33]
172.16.132.18 and 172.16.132.35 belong to different clusters

error:
Traceback (most recent call last):
  File "/usr/bin/ezmomi", line 4, in <module>
    cli.cli()
  File "/usr/lib/python2.7/site-pack

[2018-11-27 12:51] ilyinon commented on #87
Cloning w7_template_Nov_26_2018 to new host qawinnode653.tf with 3584MB RAM...
DEBUG: Destination cluster
{'_moId': u'domain-c918',
 '_serverGuid': None,
 '_stub': <pyVmomi.SoapAdapter.SoapStubAdapter instance at 0x10365dd88>}
DEBUG: Resource pool
None
DEBUG: CloneSpec
{'config': (vim.vm.ConfigSpec) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   changeVersion = <un

[2018-11-27 14:54] snobear commented on #87
@feld-ims do you guys spin up any Windows VMs with ezmomi? Wondering if you've hit this error before and could assist?

[code]

[2018-11-27 15:22] feld-ims commented on #87
We don't, but some light research suggests this can be caused when tacking on the domain name to the hostname when cloning (which looks like may be happening with that debug output).

[2019-01-18 21:26] cgkades opened #93 "Python 3 pip install not working due to print statement"
Unable to pip install in python 3 due to what looks like a python2 print statement.

[code]

[code]

[2019-02-07 05:53] snobear commented on #93
Closing per fix ^.

[2019-02-07 05:53] #93 closed

[2019-02-07 05:54] snobear commented on #84
Fixed ^.

[2019-02-07 05:54] #84 closed

[2019-06-20 18:48] bgibson710 opened #95 "Create tags when cloning a template"
There are several products that connect with vmware that can automatically perform operations like create a backup schedule when a VM is cloned and has specific "tags".  I am sure this feature should be in pyvmomi, and we just need a way to pass it through ezmomi to do it.

[2020-01-03 15:13] Cory-Watson commented on #53
@snobear @pathcl , Any updates on this?

[2020-01-03 20:09] pathcl commented on #53
Wow its been a while.. do you really need it? I could happily invest time

On Fri, Jan 3, 2020 at 16:13 Cory Watson <notifications@github.com> wrote:

[2020-01-03 20:30] snobear commented on #53
@Cory-Watson I'm pretty sure python 3 support was added in the latest release: https://github.com/snobear/ezmomi/releases/tag/6.5.0 which should be in pypi.

[2020-05-15 08:42] TMadMac commented on #53
6.5.0 does not have the correction : print in setup.py do not have parenthesis.
Correction is on HEAD on master branch, but not realeased in any PIP package.

[2020-05-19 14:37] im-n1 commented on #53
I can confirm - master (this repo) is installable, PyPI version is not.

[2020-05-28 17:37] snobear commented on #53
@TMadMac  @im-n1 OK I pushed the latest master to pypi. So this is now available as version 6.5.1.

https://pypi.org/project/ezmomi/6.5.1/

[2020-05-28 17:37] #53 closed